<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ЭкоДом: Управление</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="custom-scrollbar">

<%- include('particles/header') %>

<main class="dashboard">

    <section id="weather-widget" class="weather-widget">
        <a href="https://yandex.ru/pogoda/moscow" target="_blank" style="text-decoration: none;">
            <div class="card-body text-black">
                <h5 class="card-title caption decoration-link">Погода в Москве</h5>
                <div class="weather-info d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <span id="temperature" class="temperature"></span>
                        <img id="weather-icon" class="weather-icon" alt="weather icon"
                             height="90" width="90">
                    </div>
                    <div class="wind-humidity d-flex flex-column align-items-start">
                        <div class="wind mb-2">
                            <svg width="1.25em" height="1.29em" viewBox="0 0 30 31" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.002 4.43c-2.82 0-5.172 2.1-5.563 4.823a1.25 1.25 0 1 0 2.476.354 3.108 3.108 0 0 1 3.087-2.677 3.106 3.106 0 0 1 3.125 3.125 3.106 3.106 0 0 1-3.125 3.125h-12.5a1.25 1.25 0 1 0 0 2.5h12.5c3.092 0 5.625-2.534 5.625-5.625 0-3.092-2.533-5.625-5.625-5.625Zm9.688 8.75a4.066 4.066 0 0 0-3.819 2.706 1.25 1.25 0 1 0 2.356.837 1.543 1.543 0 0 1 1.463-1.043c.877 0 1.562.685 1.562 1.562 0 .878-.685 1.563-1.562 1.563H2.502a1.25 1.25 0 1 0 0 2.5h16.563c.877 0 1.562.685 1.562 1.562 0 .878-.685 1.563-1.562 1.563a1.543 1.543 0 0 1-1.463-1.044 1.25 1.25 0 0 0-2.356.837 4.066 4.066 0 0 0 3.819 2.707c2.229 0 4.062-1.834 4.062-4.063 0-.553-.115-1.08-.318-1.562h1.88c2.23 0 4.063-1.834 4.063-4.063 0-2.229-1.833-4.062-4.062-4.062Z"
                                      fill="currentColor"></path>
                            </svg>
                            <span id="wind-speed"></span>
                        </div>
                        <div class="humidity">
                            <svg width="1.25em" height="1.03em" viewBox="0 0 23 19" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.32.68S.29 4.43.29 6.53c0 1.74 1.356 3.15 3.03 3.15 1.675 0 3.032-1.41 3.032-3.15C6.352 4.43 3.32.68 3.32.68ZM11.406 9.68s-3.031 3.75-3.031 5.85c0 1.74 1.357 3.15 3.031 3.15 1.675 0 3.032-1.41 3.032-3.15 0-2.1-3.032-5.85-3.032-5.85ZM19.485.68s-3.032 3.75-3.032 5.85c0 1.74 1.357 3.15 3.032 3.15 1.674 0 3.03-1.41 3.03-3.15 0-2.1-3.03-5.85-3.03-5.85Z"
                                      fill="currentColor"></path>
                            </svg>
                            <span id="humidity"></span>
                        </div>
                    </div>
                </div>

            </div>
        </a>
    </section>


    <section class="statistic-widget">
        <a class="text-black" href="/opashka-map" style="text-decoration: none;">
            <h5>Опашка: выполнение</h5>
            <div class="consumption">
                <div class="statistic-value">
                    <span>В работе</span>
                    <span style="color: #007BFF">-----</span>
                </div>
                <div class="statistic-value">
                    <span>Выполнено</span>
                    <span style="color: #00FF00">-----</span>
                </div>
                <div class="statistic-value">
                    <span>Остаток</span>
                    <span style="color: red">-----</span>
                </div>
            </div>
        </a>
    </section>

    <section class="statistic-widget">
        <a class="text-black" href="/appeals-journal" style="text-decoration: none;">
            <h5>Обращения: выполнение</h5>
            <div class="consumption">
                <div class="statistic-value">
                    <span>В работе</span>
                    <span style="color: #007BFF">-----</span>
                </div>
                <div class="statistic-value">
                    <span>Выполнено</span>
                    <span style="color: #00FF00">-----</span>
                </div>
                <div class="statistic-value">
                    <span>Всего</span>
                    <span style="color: red">-----</span>
                </div>
            </div>
        </a>
    </section>


    <section class="appeals-events">
        <a class="text-black" href="/appeals-map" style="text-decoration: none;">
            <div class="container">
                <h5 class="section-title">Новые обращения граждан</h5>
                <div id="events-container" class="row gy-3">
                    <!-- События будут добавляться сюда динамически -->
                </div>
            </div>
        </a>
    </section>
</main>


<div class='dashboard'>
    <section class="current-events">
        <h5>График обращений граждан</h5>

        <!-- Переключатель вкладок -->
        <ul class="nav nav-tabs chart-tabs" id="chartTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="by-date-tab" data-bs-toggle="tab" data-bs-target="#by-date"
                        type="button" role="tab" aria-controls="by-date" aria-selected="true">
                    По датам
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="" data-bs-toggle="tab" data-bs-target="#by-settlement"
                        type="button" role="tab" aria-controls="by-settlement" aria-selected="false">
                    По районам
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="by-settlement-tab" data-bs-toggle="tab" data-bs-target="#by-settlement"
                        type="button" role="tab" aria-controls="by-settlement" aria-selected="false">
                    По поселениям
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="" data-bs-toggle="tab" data-bs-target="#by-settlement"
                        type="button" role="tab" aria-controls="by-settlement" aria-selected="false">
                    По округам
                </button>
            </li>
        </ul>

        <!-- Содержимое вкладок -->
        <div class="tab-content chart-tab-content mt-3" id="chartTabsContent">
            <div class="tab-pane fade show active" id="by-date" role="tabpanel" aria-labelledby="by-date-tab">
                <div class="chart-container">
                    <canvas id="eventsChart"></canvas>
                </div>
            </div>
            <div class="tab-pane fade" id="by-settlement" role="tabpanel" aria-labelledby="by-settlement-tab">
                <div class="chart-container">
                    <canvas id="settlementsChart"></canvas>
                </div>
            </div>
        </div>
    </section>


    <div class="tile-block-container">
        <div class="tile-container">
            <video src="videos/gbu.mp4" autoplay muted loop playsinline controlslist="nodownload"
                   disablepictureinpicture></video>
        </div>

        <div class="tile-container p-3">
            <h3>Статистика месяца</h3>
            <p>Количество обращений граждан за текущий месяц составило 430. Основные вопросы касались благоустройства
                территории.</p>
        </div>

        <div class="tile-container p-3">
            <h3>Планы на декабрь</h3>
            <p>Планируется проведение общегородского собрания для обсуждения ключевых инициатив. Дата проведения: 15
                декабря 2024 года.</p>
        </div>

        <div class="tile-container">
            <img src="images/tree.gif" alt="GIF-анимация">
        </div>

    </div>
</div>

<div class='dashboard'>
    <section class="container-fluid current-news">
        <h5>Новости Москвы</h5>
    </section>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>

<script src="src/js/dashboard.js"></script>
</body>
</html>
