<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<title>ЭкоДом: Управление</title>
		<link rel="shortcut icon" href="../public/images/favicon.ico" type="image/x-icon" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<link href="css/main.css" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/4.0.0/introjs.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/4.0.0/intro.min.js"></script>
		<script
			src="https://api-maps.yandex.ru/2.1/?apikey=280739b2-c2da-410c-8954-266594fa2827&lang=ru_RU"
			type="text/javascript"
		></script>
	</head>
	<body>
		<%- include('particles/header') %>
		<main>
			<div class="map-container">
				<div class="toolbar-left">
					<button id="startDrawing" class="btn btn-primary">Новый объект</button>
					<button
						id="stopDrawing"
						class="btn btn-secondary"
						style="display: none"
					>
						Остановить
					</button>
					<button
						id="saveDrawing"
						class="btn btn-success"
						style="display: none"
					>
						Сохранить
					</button>
					<button
						id="clearDrawing"
						class="btn btn-danger"
						style="display: none"
					>
						Очистить
					</button>
					<button id="toggleMode" class="btn btn-info" style="display: none">
						Полигон
					</button>
					<button id="startTutorial" class="btn btn-primary" style="display: none">
						<i class="fas fa-graduation-cap"></i> Обучение
					</button>
				</div>
				<div class="toolbar-right">
					<div class="custom-select-wrapper">
						<div id="filterWorkType" class="custom-select" tabindex="0">
							<span>Категория работ</span>
							<span class="custom-select-arrow">&#9662;</span>
						</div>
						<div class="custom-options">
							<label class="custom-option"
								><input type="checkbox" value="Гос. задание" />Гос. задание</label
							>
							<label class="custom-option"
								><input type="checkbox" value="Коммерция" />Коммерция</label
							>
							<!-- Добавьте другие необходимые типы работы здесь -->
						</div>
					</div>
				</div>

				<div id="map" class="map-container"></div>
				<div id="customBalloon"></div>
				<!-- Добавляем HTML для диалогового окна -->
				<div id="editDialog" class="edit-dialog">
					<div class="edit-dialog-header">
						<h5>Редактировать объект</h5>
						<button id="closeEditDialog" class="close-button">&times;</button>
					</div>
					<div class="edit-dialog-content">
						<form id="editForm">
							<div class="mb-3">
								<label for="editComment" class="form-label">Комментарий</label>
								<textarea
									class="form-control"
									id="editComment"
									rows="3"
								></textarea>
							</div>
							<div class="form-group">
								<input type="checkbox" id="completedCheckbox" class="form-check-input">
								<label for="completedCheckbox">Работа выполнена</label>
							</div>
							<div id="additionalFields" style="display: none;">
								<div class="form-group">
									<label for="editStartDate">Дата начала работ</label>
									<input type="date" id="editStartDate" class="form-control">
								</div>
								<div class="form-group">
									<label for="editEndDate">Дата окончания работ</label>
									<input type="date" id="editEndDate" class="form-control">
								</div>
								<div class="form-group">
									<label for="editEquipment">Техника</label>
									<select class="form-select" id="editEquipment">
										<option value="МТЗ">МТЗ</option>
										<option value="Кировец">Кировец</option>
									</select>
								</div>
								<div class="form-group">
									<label for="editEquipmentCount">Количество техники</label>
									<input type="number" id="editEquipmentCount" class="form-control">
								</div>
							</div>
							<button type="button" id="saveEdit" class="btn btn-primary">
								Сохранить
							</button>
							<button type="button" id="delete" class="btn btn-danger">
								Удалить
							</button>
						</form>
					</div>
				</div>
			</div>
		</main>

		<%- include('particles/modal') %>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
		<script src="js/map.js"></script>
		<script src="js/links.js"></script>
		<script src="js/map-filter.js"></script>
		<script src="js/utils.js"></script>
	</body>
</html>
