<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>ЭкоДом: Опашка</title>
    <link rel="shortcut icon" href="../public/images/favicon.ico" type="image/x-icon"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/4.0.0/introjs.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
          integrity="sha384-5e2ESR8Ycmos6g3gAKr1Jvwye8sW4U1u/cAKulfVJnkakCcMqhOudbtPnvJ+nbv7" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/4.0.0/intro.min.js"></script>
    <script
            src="https://api-maps.yandex.ru/2.1/?apikey=280739b2-c2da-410c-8954-266594fa2827&lang=ru_RU"
            type="text/javascript"
    ></script>
    <script src="https://yastatic.net/jquery/2.2.3/jquery.min.js"></script>
</head>
<body class="custom-scrollbar">

<%- include('particles/header') %>

<main >
    <div >
        <div class="toolbar-left">
            <button id="startDrawing" class="btn btn-primary" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">Новый объект</button>
            <button
                    id="stopDrawing"
                    class="btn btn-secondary"
                    style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); display: none"
            >
                Остановить
            </button>
            <button
                    id="saveDrawing"
                    class="btn btn-success"
                    style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); display: none"
            >
                Сохранить
            </button>
            <button
                    id="clearDrawing"
                    class="btn btn-danger"
                    style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); display: none"
            >
                Очистить
            </button>
            <button id="toggleMode" class="btn btn-primary" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); display: none">
                Полигон
            </button>
            <button id="startTutorial" class="btn btn-primary" style="box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); display: none">
                <i class="fas fa-graduation-cap"></i> Обучение
            </button>
        </div>

        <div class="toolbar-right">
            <div class="custom-select-wrapper-map-type">
                <button id="mapStyleSelector" class="custom-select-map-type">Стандарт</button>
            </div>
        </div>

        <div id="map" class="map-container"></div>

        <div id="customBalloon"></div>

        <!-- Добавляем HTML для диалогового окна -->
        <div id="editDialog" class="edit-dialog">
            <div class="edit-dialog-header">
                <h5>Редактировать объект</h5>
                <button id="closeEditDialog" class="close-button">&times;</button>
            </div>
            <div class="edit-dialog-content">
                <form id="editForm">
                    <div class="mb-3">
                        <label for="editComment" class="form-label">Комментарий</label>
                        <textarea
                                class="form-control"
                                id="editComment"
                                rows="3"
                        ></textarea>
                    </div>
                    <div class="form-group mt-2 mb-2" id="inProgressContainer">
                        <input type="checkbox" id="inProgressCheckbox" class="form-check-input"/>
                        <label for="inProgressCheckbox">Приступили к выполнению</label>
                        <input type="date" id="inProgressStartDate" style="display: none;"
                               class="form-control mt-2 mb-2"/>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="completedCheckbox" class="form-check-input">
                        <label for="completedCheckbox">Работа выполнена</label>
                    </div>
                    <div id="additionalFields" style="display: none;">
                        <div class="form-group">
                            <label for="editEndDate">Дата окончания работ</label>
                            <input type="date" id="editEndDate" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="editEquipment">Техника</label>
                            <select class="form-select" id="editEquipment">
                                <option value="МТЗ">МТЗ</option>
                                <option value="Кировец">Кировец</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="editEquipmentCount">Количество техники</label>
                            <input type="number" id="editEquipmentCount" class="form-control">
                        </div>
                    </div>


                    <!-- Кнопка для открытия окна загрузки фото -->
                    <div class="card p-3 mt-3 border">
                        <label class="form-label fw-bold text-center">Приложить фото</label>

                        <div class="d-flex gap-2 justify-content-center d-flex">
                            <button type="button" id="openUploadModalButton"
                                    class="btn btn-primary d-flex align-items-center gap-1 shadow">
                                <i class="fa fa-paperclip"></i> <!-- Иконка для скрепки -->
                                <span>Загрузить</span>
                            </button>
                            <button type="button" id="deletePhotoButton"
                                    class="btn btn-danger d-flex align-items-center gap-1 shadow">
                                <i class="fa fa-trash"></i> <!-- Иконка для удаления -->
                                <span></span>
                            </button>
                        </div>
                    </div>


                    <div class="d-flex gap-2 mt-2">
                        <button type="button" id="saveEdit"
                                class="btn btn-primary d-flex align-items-center gap-1 py-2">
                            <i class="fa fa-save"></i> <!-- Иконка для сохранения -->
                            <span>Сохранить</span>
                        </button>
                        <button type="button" id="delete" class="btn btn-danger d-flex align-items-center gap-1 py-2">
                            <i class="fa fa-trash"></i> <!-- Иконка для удаления -->
                            <span>Удалить</span>
                        </button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</main>

<%- include('particles/modal') %>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/opashka-map.js"></script>
<script src="js/modules/paintOnMap.js" type="module"></script>
<script src="js/modules/mapStyleManager.js" type="module"></script>
<script src="js/utils.js"></script>
</body>
</html>
