.toolbar-left {
    position: absolute;
    z-index: 1000;
    bottom: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.toolbar-left button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px; /* Скругленные углы */
    background-color: #FFFFFF; /* Белый фон */
    color: #000000; /* Черный текст */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Плавный переход */
}

.toolbar-left button:hover {
    background-color: #0078ff; /* Синий фон при наведении */
    color: #FFFFFF; /* Белый текст при наведении */
}

.toolbar-right {
    position: absolute;
    z-index: 1000;
    bottom: 20px;
    right: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: right 0.3s; /* Добавлен переход для плавного перемещения */
    justify-content: flex-end; /* Выравниваем элементы вправо */
    gap: 10px; /* Расстояние между кнопками */
}


#customBalloon {
    position: absolute;
    top: 86px;
    left: 20px; /* Перемещаем balloon в левый верхний угол */
    background-color: #0078ff;
    color: #FFFFFF;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    display: none;
    z-index: 1000;
}

/* Основные стили для диалогового окна */
.edit-dialog {
    position: fixed;
    top: 0;
    right: -400px; /* Изменено на right */
    width: 300px;
    height: 100%;
    background-color: #fff;
    transition: right 0.3s; /* Изменено на right */
    z-index: 1000;
    padding: 20px;
}

.edit-dialog.open {
    right: 0;
}

.edit-dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.edit-dialog-header h5 {
    font-weight: bold;
}

.close-button {
    background: none;
    border: none;
    font-size: 2.2rem;
    cursor: pointer;
    color: #0078ff; /* Цвет кнопки закрытия */
    margin-bottom: 12px;
}

.edit-dialog-content {
    overflow-y: auto;
    height: calc(100% - 66px); /* Высота содержимого окна с учетом высоты заголовка */
}

.form-label {
    font-weight: bold;
}


/* Убедитесь, что диалоговое окно занимает высоту тега main */
.edit-dialog {
    height: calc(100% - 66px); /* За вычетом отступов */
    top: 66px; /* Отступ сверху для избегания блока header */
}



#additionalFields {
    margin-top: 15px;
}

#additionalFields .form-group {
    margin-bottom: 10px;
}

.form-group label {
    font-weight: bold;
}

.custom-select-wrapper-map-type {
    position: relative;
    display: flex;
    border-radius: 20px;
    z-index: 1001;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Добавляет тень под кнопкой */
}

.custom-select-map-type {
    padding: 10px 20px;
    border: none;
    border-radius: 25px; /* Скругленные углы */
    background-color: #FFFFFF; /* Белый фон */
    color: #000000; /* Черный текст */
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s, color 0.3s; /* Плавный переход */
}

.custom-select-map-type:hover{
    background-color: #0078ff; /* Синий фон при наведении и фокусе */
    color: #FFFFFF; /* Белый текст при наведении и фокусе */
}
