/* Основные стили для dropdown menu */
.dropdown-menu {
    position: fixed; /* Закрепляем меню на экране */
    top: 66px; /* Отступ от верхнего края, чтобы меню начиналось сразу под header */
    right: 0; /* Прижимаем меню к правому краю */
    width: 160px; /* Устанавливаем ширину меню */
    background-color: #fff; /* Белый фон */
    border: none; /* Убираем границу */
    border-radius: 4px; /* Скругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень для выделения */
    z-index: 1500;
}