.container {
    max-width: 100%; /* Ограничение ширины */
    max-height: 100%; /* Ограничение высоты */
    display: flex;
    flex-direction: column;
    height: 100%;
}

.map-container {
    position: relative;
    height: calc(100vh - 66px); /* За вычетом высоты header */
    width: 100%;
}

header {
    height: 66px; /* Высота шапки */
    width: 100%;
    background-color: #fff; /* Пример цвета фона */
    border-bottom: 1px solid #ddd; /* Граница под шапкой */
}

.map-container {
    flex: 1; /* Карта заполняет все оставшееся пространство внутри main */
    position: relative;
    width: 100%;
    background-color: #f0f0f0; /* Резервный фон карты */
}

.highlight {
    stroke-opacity: 10; /* Пример изменения прозрачности линии */
    fill-opacity: 10; /* Пример изменения прозрачности заполнения */
    stroke: #000000; /* Пример изменения цвета */
}

.header-section {
    background-color: #fff; /* Пример цвета фона */
    border-bottom: 1px solid #ddd; /* Граница под шапкой */
    z-index: 1500;
}

.navbar-brand img {
    height: 40px;
}

.navbar-nav .nav-link {
    font-weight: bold; /* Полужирный текст */
    padding: 10px 15px; /* Отступы */
    transition: color 0.3s; /* Плавный переход цвета */
    color: #000;
}

.nav-link:hover {
    color: #007BFF; /* Цвет текста при наведении */
}

.dropdown-item {
    font-weight: bold; /* Полужирный текст */
    padding: 10px 15px; /* Отступы */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход цвета и фона */
}

.dropdown-item:hover {
    background-color: #f8f9fa; /* Фон при наведении */
    color: #007BFF; /* Цвет текста при наведении */
}

.dropdown-divider {
    margin: 0.5rem 0; /* Отступы сверху и снизу */
    border-top: 1px solid #e9ecef; /* Тонкая линия */
}
.toast-top-right {
    top: 76px !important; /* Отступ сверху */
    right: 12px; /* Отступ справа */
}
