/* Медиа-запрос для изменения направления панели инструментов при ширине 800px и меньше */
@media (max-width: 800px) {
    .toolbar-left {
        flex-direction: column; /* Изменяем направление на колонку */
        bottom: 10px; /* Убираем позиционирование по нижнему краю */
        left: 10px; /* Позиционируем по верхнему краю */
    }
}