/* Медиа-запрос для изменения направления панели инструментов при ширине 800px и меньше */
@media (max-width: 800px) {
    .toolbar-left {
        flex-direction: column; /* Изменяем направление на колонку */
        bottom: 10px; /* Убираем позиционирование по нижнему краю */
        left: 10px; /* Позиционируем по верхнему краю */
    }
}

@media (max-width: 1230px) {
    #currentDate, #currentTime {
        display: none;
    }
}

@media (max-width: 1500px) {
    .weather-widget,
    .statistic-widget,
    .appeals-events {
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        width: 100%; /* Полная ширина для одного элемента */
        scroll-snap-align: start;
    }

    .main-container {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        margin: 0 20px 0 20px;
    }

    .main-container::-webkit-scrollbar {
        display: none; /* Скрытие стандартного скроллбара */
    }

    .current-events {
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        width: 100%; /* Полная ширина для одного элемента */
        scroll-snap-align: start;
    }

    .tile-block-container{
        display: none;
    }
}

