/* Стили для контейнера таблицы */
#table-container {
    height: calc(100vh - 148px);
    overflow-y: auto; /* Вертикальная прокрутка */
    position: relative;
    background: #fff; /* Белый фон */
}

/* Стили для таблицы */
#data-table {
    width: 100%;
    border-collapse: collapse;
}


/* Заголовки таблицы */
.table thead th,
#data-table thead th {
    position: sticky; /* Фиксирование заголовков при прокрутке */
    top: 0;
    background-color: #0078ff; /* Цвет заголовка */
    color: #fff;
    text-align: center;
    z-index: 105; /* Увеличен для перекрытия других элементов */
}


/* Подсветка строки при наведении */
.table-hover tbody tr:hover {
    background-color: #e2e6ea; /* Цвет подсветки */
    cursor: pointer;
}

/* Стили индикатора загрузки */
#loading-indicator {
    display: none; /* Скрывать по умолчанию */
    justify-content: center; /* Центрировать по горизонтали */
    align-items: center; /* Центрировать по вертикали */
    position: absolute; /* Фиксировать позицию */
    top: 50%; /* Центрировать по вертикали */
    left: 50%; /* Центрировать по горизонтали */
    transform: translate(-50%, -50%); /* Сместить для точного центрирования */
    z-index: 1000; /* Поверх всех элементов */
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный фон */
    width: 100%; /* Заполнить ширину контейнера */
    height: 100%; /* Заполнить высоту контейнера */
}

/* Стили для текста в модальных окнах */
.modal-body p {
    margin: 5px 0; /* Отступы между параграфами */
}


