.dashboard {
    display: flex;

}

.main-container {
    display: flex;
}

.weather-widget {
    position: relative;
    margin: 20px;
    padding: 20px;
    background: #f6f6f6;
    border-radius: 30px;
    min-width: 340px;
    text-decoration: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}


.weather-widget h5 {
    font-weight: 200;
}

.temperature {
    font-size: 4rem;
    font-weight: bold;
    margin-right: 10px;
}

.weather-icon {
    display: inline-block;
}

.wind, .humidity {
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    min-width: 5vw;
}

.wind svg, .humidity svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.wind-humidity {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.statistic-widget {
    position: relative;
    margin: 20px 20px 20px 0;
    padding: 20px;
    background: #f6f6f6;
    border-radius: 30px;
    min-width: 280px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}



.statistic-widget h5 {
    font-weight: 200;
}

.consumption {
    display: flex;
    flex-direction: column;
}

.consumption .statistic-value {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.appeals-events {
    position: relative;
    margin: 20px 20px 20px 0;
    padding: 20px;
    background: #f6f6f6;
    border-radius: 30px;
    width: 100%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}



.appeals-events h5 {
    font-weight: 200;
}



.appeals-events .event-item .arrow-link {
    position: absolute;
    right: 20px;
    bottom: 40px;
    width: 24px;
    height: 24px;
    background: url('../icons/arrow-up-right.svg') no-repeat center center;
    background-size: contain;
}


/* Стили для раздела текущих событий */
.current-events {
    position: relative;
    margin: 0 0 20px 20px;
    padding: 20px;
    background: #f6f6f6;
    border-radius: 30px;
    width: 100%;
    height: 64vh;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.current-events h5 {
    font-weight: 200;
}

.current-news {
    position: relative;
    margin: 20px;
    padding: 20px;
    background: #f6f6f6;
    border-radius: 30px;
    width: 100%;
    height: 64vh;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.current-news h5 {
    font-weight: 200;
}

.chart-container {
    position: relative;
    height: 50vh; /* Высота графика */
    width: 100%;  /* Занимает всю доступную ширину */
    max-width: 100%; /* Не выходит за границы родителя */
    border-radius: 10px;
}

/* Родительский контейнер, управляющий сеткой */
.tile-block-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Две колонки */
    grid-template-rows: repeat(2, 1fr);   /* Две строки */
    gap: 20px; /* Расстояние между контейнерами */
    width: 100vw;
    margin: 0 20px 20px 20px;
}

/* Стиль для каждого отдельного контейнера */
.tile-container {
    background: #f6f6f6;
    border-radius: 30px;
    display: flex;
    flex-direction: column; /* Расположение содержимого в колонку */
    align-items: center;
    justify-content: center;
    min-height: 100px; /* Минимальная высота квадрата */
    text-align: center;
    padding: 0;
    overflow: hidden;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.tile-container:hover,
.appeals-events:hover,
.weather-widget:hover,
.statistic-widget:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.02); /* Немного увеличивает изображение */
    cursor: pointer;
}

/* Текст внутри каждого контейнера */
.tile-container h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
}

.tile-container p {
    font-size: 0.9rem;
    color: #666;
    margin: 10px 0 0;
}

.tile-container video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Для сохранения пропорций видео и заполнения контейнера */
    border-radius: 30px; /* Совпадает с радиусом контейнера */
}

.tile-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Сохранение пропорций изображения */
    border-radius: 30px; /* Совпадает с радиусом контейнера */
    object-position: center; /* Центрирование изображения */
    transform: scale(1.1); /* Немного увеличивает изображение */
}



