<!-- Модальное окно для деталей обращения -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Детали обращения</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>№ ДС:</strong> <span id="modal-num"></span></p>
                <p><strong>Дата обращения:</strong> <span id="modal-date"></span></p>
                <p><strong>№ Карточки:</strong> <span id="modal-card-number"></span></p>
                <p><strong>Поселение:</strong> <span id="modal-settlement"></span></p>
                <p><strong>Адрес:</strong> <span id="modal-address"></span></p>
                <p><strong>Координаты:</strong> <span id="modal-coordinates"></span></p>
                <p><strong>Тема обращения:</strong> <span id="modal-topic"></span></p>
                <p><strong>Принятые меры:</strong> <span id="modal-measures"></span></p>
                <p><strong>Статус:</strong> <span id="modal-status"></span></p>
                <p><strong>Срок выполнения:</strong> <span id="modal-deadline"></span></p>
                <p><strong>Источник:</strong> <span id="modal-source"></span></p>
                <p><strong>Ответственный сотрудник:</strong> <span id="modal-employee"></span></p>
            </div>
            <div class="modal-footer">
                <button id="edit-button" class="btn btn-primary">Редактировать</button>
                <button id="delete-button" class="btn btn-danger">Удалить</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для редактирования -->
<div class="modal fade custom-scrollbar" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Обращение</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="edit-num">№ ДС:</label>
                    <input type="text" id="edit-num" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label for="edit-date">Дата обращения:</label>
                    <input type="date" id="edit-date" class="form-control">
                </div>
                <div class="form-group">
                    <label for="edit-card-number">№ Карточки обращения:</label>
                    <input type="text" id="edit-card-number" class="form-control">
                </div>
                <div class="form-group">
                    <label for="add-settlement">Поселение:</label>
                    <select id="edit-settlement" class="form-control">
                        <option value="" disabled selected>Выберите поселение</option>
                        <option value="г.о. Троицк">г.о. Троицк</option>
                        <option value="г.о. Щербинка">г.о. Щербинка</option>
                        <option value="Московский">Московский</option>
                        <option value="Внуковское">Внуковское</option>
                        <option value="Мосрентген">Мосрентген</option>
                        <option value="Сосенское">Сосенское</option>
                        <option value="Воскресенское">Воскресенское</option>
                        <option value="Десеновское">Десеновское</option>
                        <option value="Филимонковское">Филимонковское</option>
                        <option value="Киевский">Киевский</option>
                        <option value="Кокошкино">Кокошкино</option>
                        <option value="Новофедоровское">Новофедоровское</option>
                        <option value="Первомайское">Первомайское</option>
                        <option value="Марушкинское">Марушкинское</option>
                        <option value="Рязановское">Рязановское</option>
                        <option value="Щаповское">Щаповское</option>
                        <option value="Краснопахорское">Краснопахорское</option>
                        <option value="Кленовское">Кленовское</option>
                        <option value="Михайлово-Ярцевское">Михайлово-Ярцевское</option>
                        <option value="Вороновское">Вороновское</option>
                        <option value="Роговское">Роговское</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="edit-address">Адрес:</label>
                    <input type="text" id="edit-address" class="form-control">
                </div>
                <div class="form-group">
                    <label for="edit-coordinates">Координаты:</label>
                    <input type="text" id="edit-coordinates" class="form-control">
                </div>
                <div class="form-group">
                    <label for="edit-topic">Тема обращения:</label>
                    <input type="text" id="edit-topic" class="form-control">
                </div>
                <div class="form-group">
                    <label for="edit-measures">Принятые меры:</label>
                    <input type="text" id="edit-measures" class="form-control">
                </div>
                <div class="form-group">
                    <label for="edit-status">Статус:</label>
                    <select id="edit-status" class="form-control">
                        <option value="" disabled selected>Выберите статус</option>
                        <option value="Опубликован">Опубликован</option>
                        <option value="Перенаправлен Арбитру">Перенаправлен Арбитру</option>
                        <option value="На утверждении">На утверждении</option>
                        <option value="Доп. контроль">Доп. контроль</option>
                        <option value="В работе">В работе</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="edit-deadline">Срок выполнения:</label>
                    <div class="input-group">
                        <input type="date" id="edit-deadline" class="form-control">
                        <button id="clear-deadline-button" class="btn btn-outline-secondary" type="button">Очистить</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="edit-source">Источник:</label>
                    <input type="text" id="edit-source" class="form-control">
                </div>
                <div class="form-group">
                    <label for="edit-employee">Ответственный сотрудник:</label>
                    <input type="text" id="edit-employee" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button id="save-edit-button" class="btn btn-secondary">Сохранить изменения</button>
                <button class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для добавления нового обращения -->
<div class="modal fade custom-scrollbar" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Добавить новое обращение</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="add-num">№ ДС:</label>
                    <input type="text" id="add-num" class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label for="add-date">Дата обращения:</label>
                    <input type="date" id="add-date" class="form-control">
                </div>
                <div class="form-group">
                    <label for="add-card-number">№ Карточки обращения:</label>
                    <input type="text" id="add-card-number" class="form-control">
                </div>
                <div class="form-group">
                    <label for="add-settlement">Поселение:</label>
                    <select id="add-settlement" class="form-control">
                        <option value="" disabled selected>Выберите поселение</option>
                        <option value="г.о. Троицк">г.о. Троицк</option>
                        <option value="г.о. Щербинка">г.о. Щербинка</option>
                        <option value="Московский">Московский</option>
                        <option value="Внуковское">Внуковское</option>
                        <option value="Мосрентген">Мосрентген</option>
                        <option value="Сосенское">Сосенское</option>
                        <option value="Воскресенское">Воскресенское</option>
                        <option value="Десеновское">Десеновское</option>
                        <option value="Филимонковское">Филимонковское</option>
                        <option value="Киевский">Киевский</option>
                        <option value="Кокошкино">Кокошкино</option>
                        <option value="Новофедоровское">Новофедоровское</option>
                        <option value="Первомайское">Первомайское</option>
                        <option value="Марушкинское">Марушкинское</option>
                        <option value="Рязановское">Рязановское</option>
                        <option value="Щаповское">Щаповское</option>
                        <option value="Краснопахорское">Краснопахорское</option>
                        <option value="Кленовское">Кленовское</option>
                        <option value="Михайлово-Ярцевское">Михайлово-Ярцевское</option>
                        <option value="Вороновское">Вороновское</option>
                        <option value="Роговское">Роговское</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="add-address">Адрес:</label>
                    <input type="text" id="add-address" class="form-control">
                </div>
                <div class="form-group">
                    <label for="add-coordinates">Координаты:</label>
                    <div class="input-group">
                        <input type="text" id="add-coordinates" class="form-control">
                        <button class="btn btn-custom" type="button" onclick="toggleMap('add-coordinates')">Выбрать на карте</button>
                    </div>
                </div>
                <div id="map" style="width: 100%; height: 400px; display: none; margin-bottom: 10px; margin-top: 10px;"></div>
                <div class="form-group">
                    <label for="add-topic">Тема обращения:</label>
                    <input type="text" id="add-topic" class="form-control">
                </div>
                <div class="form-group">
                    <label for="add-measures">Принятые меры:</label>
                    <select id="add-measures" class="form-control">
                        <option value="" disabled selected>Выберите меры</option>
                        <option value="Принято в работу">Принято в работу</option>
                        <option value="Принято в работу в части касающейся">Принято в работу в части касающейся</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="add-status">Статус:</label>
                    <input type="text" id="add-status" class="form-control">
                </div>
                <div class="form-group">
                    <label for="add-deadline">Срок выполнения:</label>
                    <input type="date" id="add-deadline" class="form-control">
                </div>
                <div class="form-group">
                    <label for="add-source">Источник:</label>
                    <input type="text" id="add-source" class="form-control">
                </div>
                <div class="form-group">
                    <label for="add-employee">Ответственный сотрудник:</label>
                    <input type="text" id="add-employee" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button id="save-add-button" class="btn btn-primary">Добавить обращение</button>
                <button class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для подтверждения удаления -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Подтверждение удаления</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <p>Вы уверены, что хотите удалить это обращение? Это действие нельзя отменить.</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="confirmDeleteButton" class="btn btn-danger">Удалить</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>